.u-animate-all--ease{
  transition: all 300ms ease 0ms;
}

.u-sliderow {
  margin-left: 75px;
  margin-top: 15px;
  cursor:pointer;
}

.c-btn {
    padding: 7px;
}

.c-media {
    width: 1em;
    height: 1em;
    margin: 0.3em;
}


.c-triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 200px 100px 0;
  border-color: transparent #000000 transparent transparent;
}

.c-triangle:hover{
  border-width: 100px 0 100px 200px;
  border-color: transparent transparent transparent #000000;
}



@keyframes spin{
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


.c-spinner {
  width:  100px;
  height: 100px;
}

.c-spinner:hover{
  animation: spin 1s infinite linear;
}

:root{
   --label-width: 12ch;
}


.c-device {
    display: block;
    position: relative;
    width: var(--label-width);
}

.c-device--type::after {
    position: absolute;
    top: 0;
    left:0;
    margin-left: var(--label-width);
    content: 'Inconnu';
    width: var(--label-width);
}

.c-device--orientation::after {
    position: absolute;
    top: 0;
    left:0;
    margin-left: var(--label-width);
    content: 'Inconnue'
    width: var(--label-width);
}

@media screen and (orientation: portrait) {
  .c-device--orientation::after {
      content: "Portrait"
  }
}


@media screen and (orientation: landscape) {
  .c-device--orientation::after {
      content: "Landscape"
  }
}

@media screen and (device-width: 412px) and (device-height: 732px){
    .c-device--type::after {
        content:'Nexus 5';
    }

    @media (-webkit-min-device-pixel-ratio: 3) {
        .c-device--type::after {
            content:'Nexus 6P';
        }
    }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
        .c-device--type::after {
            content: 'iPhone 6+';
        }

}